/* Global Fonts: 
    font-family: 'Rammetto One', cursive;
    font-family: 'Krona One', sans-serif;
 */

h1 {
    font-family: 'Krona One', sans-serif; 
    color: white; 
}

.jumbotron {
    background-color: #4C4000;
}

.body{
    background-image: url(../images/background-1913529_1920.jpg)
}

.about {
    background-color: #4C4000;
    color: white;
   
}

.game{
    background-color: white;
    border:  #4C4000 solid 10px;
    padding: 10px;
}
   
.gems{
    background-color: white;
    border:  #4C4000 solid 10px;
    padding: 10px;
}   

.score {
    background-color: white;
    border:  #4C4000 solid 10px;
    height: 20%;
}

/* button{
    background-size: 100%;

} */
.btna {
    background-image: url(../images/yellowgem.jpg);
    padding: 25px 25px;
    /* width: 10%; */
    background-size: 100%;

}

.btnb {
    background-image: url(../images/diamond.jpg);
    padding: 25px 25px;
    width: 10%;
    background-size: 100%;
}
.btnc {
    background-image: url(../images/greengem.jpg);
    padding: 25px 25px;
    width: 10%;
    background-size: 100%;
}
.btnd {
    background-image: url(../images/redgem.jpg);
    padding: 25px 25px;
    width: 10%;
    background-size: 100%;
}

